*{
  margin: 0;
  padding: 0;
  border: 0;
}
@font-face {
  font-family: Poppins;
  src: url(../fonte/Poppins-Regular.ttf);
}
body{
  background-color: rgb(36, 36, 51);
  color: white;
  font-family: Poppins;
}

.nav_principal{
  position: fixed;
  display: flex;
  width: 90vw;
  max-width: 90vw;
  background-color: rgba(61, 61, 87, 0.89);
  backdrop-filter: blur(1rem);
  flex-direction: row;
  left: 5%;
  top:1%;
  align-items: center;
  flex-wrap: nowrap;
  border-radius: 10px;
  z-index: 2;
  font-size: 1.76vh;
  height: 7vh;
}
.logo_header{
  display: flex;
  width: 10%;
  justify-content: center;

}
.logo_header img{
  width: 50%;
  height: 50%;
}
.logo_header img:hover{
  filter: invert();
}
.itens_centro{
  display: flex;
  width: 70%;
  justify-content: left;
}
.nav_principal .item_header{
  height: 3vh;
  display: flex;
  align-items: center;
  width: auto;
  margin: 1% 0 1% 0;
  padding: 1% 5.5% 1% 5.5%;
  transition: all 200ms;
}
.nav_principal .item_header:hover{
  background-color: rgba(240, 248, 255, 0.11);
  border-radius: 10px;
  cursor: pointer;
}
.nav_principal .login{
  width: 20%;
  display: flex;
  justify-content: right;
  gap: 2%;
  transition: all 200ms;
  margin-right: 1.5%;
}

.nav_principal .login img{
  width: 25px;
  height: 25px;
  filter: invert();
}
.nav_principal .login_item{
  display: flex;
  cursor: pointer;
  transition: all 400ms;
  margin-right: 1.5%;
  padding: 5% 2% 5% 2%;
}
.nav_principal .login_item:hover{
  background-color: rgba(240, 248, 255, 0.11);
  border-radius: 10px;
}

.slider{
  position: relative;
  width: 100vw;
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.image{
  width: 100vw;
  height: 600px;
  border-radius: 10px;
}

.right-arrow{
  position: absolute;
  top: 50%;
  right: 130px;
  font-size: 3rem;
  color:black;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  transition: all 500ms;
}

.right-arrow:hover{
  filter: invert();
}

.left-arrow{
  position: absolute;
  top: 50%;
  left: 130px;
  font-size: 3rem;
  color:black;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  transition: all 300ms;
}
.left-arrow:hover{
  filter: invert();
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide-active{
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.01);
}

