*{
    transition: all 200ms;
}
.container{
    background-color: rgb(255, 188, 229);
}
.slider{
    background-color: rgb(255, 188, 229);
    height: 70vh;
    background-image: url(../img/fundo.png);
    background-repeat: no-repeat;
    background-position: 150%;
    background-size:contain;
    display: flex;
    width: 95%;
    margin: 0 auto;
    
}
.textfrente{
    position: relative;
    top: 45%;
    left: 3vw;
    color: rgb(63, 63, 63);
    font-size: 1.5vw;
}
.futuro{
    background: rgb(1,191,15);
    background: linear-gradient(90deg, rgb(25, 126, 47) 0%, rgb(14, 216, 81) 50%, rgb(0, 236, 91) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 300% 300%;
    animation: colors 10s ease infinite;
    filter: invert();
}
@keyframes colors {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
@media only screen and (max-width:576px){
    .slider{
        height: 25vh;
    }
    
}
@media screen and (min-width:578px){
    @media only screen and (max-width:720px){
        .slider{
            height: 40vh;
            background-position: 300%;
        }
        
    }
}
@media screen and (min-width:721px){
    @media only screen and (max-width:1444px){
        .slider{
            height: 70vh;
            background-position: 950%;
        }
        
    }
}
